- provide(:title, 'All Reservations' )
.row
  .small-12.columns.centered
    = form_tag reservations_path, method: :get do
      .row.collapse
        .small-9.columns
          = text_field_tag :query, params[:query], class: 'oversize input-text'
        .small-3.columns
          = submit_tag "search reservations", name: nil, class: 'button info postfix'

.row
  .medium-4.columns
    = paginate @reservations
  .medium-6.columns.end
    = page_entries_info @reservations
  %hr

.row
  .small-12.medium-12.columns
    - if @open_lockers.any?
      = link_to 'New Reservation', new_reservation_path, class: 'info button'
    - else
      .no_vacancy_flag
        %h2= "No open lockers. We are full"
    %table
      %thead
        %tr
          %th status
          %th confirmation_no
          %th guest_name
          %th size_code
          %th actions
      %tbody
        = render(@reservations)
