.row
  .medium-12.columns
    = link_to 'Back', lockers_path, class: 'secondary button'
    = link_to 'Actions','#',{"data-dropdown" => "lkr#{@locker.id}", class: 'button dropdown'}
    %br
    %ul{id: "lkr#{@locker.id}", class: "f-dropdown", "data-dropdown-content" => ""}
      %li= link_to 'edit locker', edit_locker_path(@locker)
      %li= link_to 'terminate locker', @locker, confirm: 'Are you sure?', method: :delete

.row
  .medium-12.columns
    %hr
    %h2 Locker
    %b Size code:
    = @locker.size_code
    %p
      %b Reserved:
      = @locker.reserved
    %p
      %b Locker no:
      = @locker.locker_no
